.profile_card{
    display: flex;
    padding: 1.375rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;

    border-radius: 1.375rem;
    background: #232323;

    .image-loader{
        width: 24rem;
        height: 10rem;
    }
    
    .profile_image{
        display: flex;
        max-width: 26rem;
        height: auto;
        justify-content: flex-end;
        align-items: center;
        align-self: stretch;
        
        border-radius: 1rem;
        overflow: hidden;
        position: relative;

        img{
            width: 100%;
            height: auto;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%; // Adjust height as needed
            background: linear-gradient(to top, rgba(29, 29, 29, 0.6), transparent); // Black fade
            z-index: 1;
            pointer-events: none;
            z-index: 3;
        }

        .userrating{
            position: absolute;
            bottom:1rem;
            right:1rem;
            z-index: 4;

            .rating{
                font-size: 1.5rem;
            }

            .role{
                font-size: 1rem;
            }
        }
    }

    .profile_details{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.25rem;
        align-self: stretch;
        position: relative;
        
        .name{
            .detail_value{
                font-size: 2rem !important;
            }
        }

        .detail{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            gap:0.5rem;

            .detail_label{
                font-size: 1.125rem;
            }

            .detail_value{
                font-size: 1.25rem;
            }
        }
    }
}

@media (max-width: 1000px) {
    .profile_card{
        align-self: stretch;
        
        .profile_image{
            max-width: 100%;
        }
    }
}