.create_contest__page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    color: #fff;
    padding: 8rem 0 8rem 0;

    .create_contest{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:2rem;
        align-self: stretch;

        header{
            font-family: 'ARP 150';
            font-size: 2.5rem;
        }
    }
}

@media (max-width: 1024px) {
    .create_contest{
        header{
            font-size: 2rem !important;
        }
    }
}

@media (max-width: 500px) {
    .create_contest{
        header{
            font-size: 1.5rem !important;
        }
    }
}