.register{
    background: linear-gradient(271deg, rgba(0, 0, 0, 0.00) 30.62%, #000 87.07%), url(/assets/bg/earth.jpg) #141414 50% / cover no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
 }