.navbar{
    --navbar-scale: 1;
    --navbar-padding: calc(1.875rem * var(--navbar-scale)) calc(4.375rem * var(--navbar-scale)) calc(1.25rem * var(--navbar-scale)) calc(4.375rem * var(--navbar-scale));
    --navbar-links-font-size: calc(1.5rem * var(--navbar-scale));
    --navbar-links-gap: calc(3rem * var(--navbar-scale));
    --navbar-signup-padding: calc(1rem * var(--navbar-scale)) calc(2.25rem * var(--navbar-scale));
    --navbar-logo-font-size: calc(1.5rem * var(--navbar-scale));
    --navbar-link-padding: calc(0.625rem * var(--navbar-scale));
    --navbar-action-padding: calc(0.625rem * var(--navbar-scale));
}

.navbar {    
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--navbar-padding);
    z-index: 2;

    .navbar__left,
    .navbar__right {
        display: flex;
        align-items: center;
        gap: var(--navbar-links-gap);
    }

    .navbar__logo {
        color: var(--nav-text-color);
        font-family: var(--nav-text-font);
        font-size: var(--navbar-logo-font-size);
        font-weight: 300;
        letter-spacing: -0.025rem;
        text-transform: capitalize;
    }

    .navbar__links {
        display: flex;
        align-items: center;
        gap: var(--navbar-links-gap);

        .navbar__link {
            display: flex;
            padding: var(--navbar-link-padding);
            justify-content: center;
            align-items: center;
            color: var(--nav-text-color);
            font-family: var(--nav-text-font);
            font-size: var(--navbar-links-font-size);
            letter-spacing: -0.025rem;
            text-transform: capitalize;
            white-space: nowrap;

            &:hover {
                color: var(--nav-text-hover-color);
            }
        }
    }

    .navbar__action {
        display: flex;
        padding: var(--navbar-action-padding);
        justify-content: center;
        align-items: center;
        border-radius: 3.125rem;
        color: var(--nav-text-color);
        font-family: var(--nav-text-font);
        font-size: var(--navbar-links-font-size);
        letter-spacing: -0.025rem;
        text-transform: capitalize;
        transition: background 0.3s;
        white-space: nowrap;

        &:hover {
            color: #dadada;
        }
    }

    .navbar__action--signup {
        padding: var(--navbar-signup-padding);
    }
}

@media screen and (max-width: 1530px) and (max-height: 713px) {
    .navbar {
        --navbar-scale: 0.9;
    }
}

@media screen and (max-width: 1370px) and (max-height: 650px) {
    .navbar {
        --navbar-scale: 0.8;
    }
}
