.home {
  --scaleby: 0.9;

  /* Home */
  --home-width: 100%;
  --home-height: 100%;

  /* Home Content */
  --home-content-margin-x: calc(4.375rem * var(--scaleby)); // 70px
  --home-content-gap: calc(8rem * var(--scaleby));

  /* Headline Section */
  --ls-headline-gap: calc(5.625rem * var(--scaleby)); // 90px

  /* Headline Text */
  --headline-gap: calc(1.75rem * var(--scaleby)); // 28px
  --headline-text-gap: calc(1.875rem * var(--scaleby)); // 30px
  --headline-font-size: calc(5rem * var(--scaleby)); // 90px
  --headline-sub-font-size: calc(3.125rem * var(--scaleby)); // 50px
  --headline-minor-font-size: calc(1.25rem * var(--scaleby)); // 20px
  --headline-minor-letter-spacing: calc(0.0125rem * var(--scaleby)); // 0.2px

  /* Tabs */
  --main-tabs-gap: calc(3.75rem * var(--scaleby)); // 60px
  --tab-padding-y: calc(1rem * var(--scaleby)); // 16px
  --tab-padding-x: calc(2.25rem * var(--scaleby)); // 36px
  --tab-min-width: calc(11.875rem * var(--scaleby)); // 190px
  --tab-font-size: calc(1.875rem * var(--scaleby)); // 30px
  --tab-letter-spacing: calc(-0.025rem * var(--scaleby)); // -0.4px
  --tab-border-radius: calc(50px * var(--scaleby));
}

.home {
  width: var(--home-width);
  height: var(--home-height);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .home-content {
    display: flex;
    margin: 0 var(--home-content-margin-x);
    flex-direction: column;
    align-items: center;
    gap: var(--home-content-gap);
    align-self: stretch;
  }

  .ls-headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--ls-headline-gap);

    .headline {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--headline-gap);

      .headline-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: var(--headline-text-gap);

        color: var(--white);
        font-family: 'ARP 150';
        text-align: center;
        font-size: var(--headline-font-size);
        text-transform: capitalize;

        .tp-text {
          color: rgba(255, 255, 255, 0.5);
          font-size: var(--headline-sub-font-size);
        }
      }

      .headline-text-minor {
        color: var(--white);
        text-align: center;
        font-family: "GoogleSansRegular";
        font-size: var(--headline-minor-font-size);
        text-transform: capitalize;
        letter-spacing: var(--headline-minor-letter-spacing);
      }
    }

    .main-tabs {
      display: flex;
      align-items: center;
      gap: var(--main-tabs-gap);

      .tab {
        min-width: var(--tab-min-width);
        display: flex;
        padding: var(--tab-padding-y) var(--tab-padding-x);
        justify-content: center;
        align-items: center;
        border-radius: var(--tab-border-radius);

        color: var(--white);
        font-family: "Kanit";
        font-size: var(--tab-font-size);
        letter-spacing: var(--tab-letter-spacing);
        text-transform: capitalize;
      }
    }
  }
}

@media (max-width: 1200px) {
  .home {
    --scaleby: 0.9;
  }
}

@media (max-width: 992px) {
  .home {
    --scaleby: 0.8;
  }
}

@media (max-width: 768px) {
  .home {
    --scaleby: 0.7;
  }
}

@media (max-width: 576px) {
  .home {
    --scaleby: 0.6;
  }
}

@media (max-width: 450px) {
  .home {
    --scaleby: 0.5;
  }
}
