// Kanit
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//Inter
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// ARP
@font-face {
    font-family: 'ARP 240';
    src: url('/assets/fonts/ARPDisplay-240.ttf');
    // font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ARP 150';
    src: url('/assets/fonts/ARPDisplay-150.ttf');
    // font-weight: 900;
    font-style: normal;
    font-display: swap;
}

//Google Sans
@font-face {
    font-family: 'GoogleSansBold';
    src: url('/assets/fonts/GoogleSansDisplay-Bold.ttf');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GoogleSansRegular';
    src: url('/assets/fonts/GoogleSansDisplay-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


